<h2 mat-dialog-title>Please fill out the search form</h2>
<mat-dialog-content>
  <form [formGroup]="horseSearchForm" (ngSubmit)="submit()">
    <input type="text" formControlName="sale_id">
    <input type="text" formControlName="search_type">
    <input type="text" formControlName="search_name">
    <button type="submit">Search</button>
  </form>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="horseRecord | async">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>Selected</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dam_name">
        <mat-header-cell *matHeaderCellDef> Dam Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dam_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sire_name">
        <mat-header-cell *matHeaderCellDef> Sire Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sire_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hip_number">
        <mat-header-cell *matHeaderCellDef> Hip Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hip_number}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sex}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button [disabled]="selection.selected.length < 1" mat-raised-button color="primary" [mat-dialog-close]="selection.selected[0]">Select</button>
</mat-dialog-actions>
