<mat-toolbar color="primary">
  <span>Welcome to Raceday!</span>
  <a mat-button *ngFor="let menuEntry of menuList" [routerLink]="menuEntry.route">{{menuEntry.visibleName}}</a>
</mat-toolbar>
<h1 *ngIf="selectedHorse | async as horse">Using horse: "{{horse}}"</h1>
<h1 *ngIf="!(selectedHorse | async)">Please select a horse to continue</h1>
<button mat-raised-button color="primary" (click)="openDialog()">Change Horse</button>
<router-outlet></router-outlet>
