<ul>
  <li *ngFor="let param of (parameterList | async)">{{param.label}}</li>
</ul>

<form [formGroup]="parameterForm">
  <ng-container *ngFor="let param of (parameterList | async)">
    <ng-container *ngIf="param.uiType === 'dropdown'">
      <select [id]="param.paramId" [formControlName]="param.paramId">
        <option *ngFor="let option of param.options" [value]="option.value">{{option.display}}</option>
      </select>
    </ng-container>
  </ng-container>
</form>

<pre>{{parameterForm.value | json}}</pre>
